@model LiftOff.Models.JobViewModels.AddJobViewModel

<div asp-validation-summary="All">
    <h1 class="display-3">Add Job</h1>
    <form asp-controller="Job" asp-action="Add" method="post" id="item-list" class="form-row">

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name"></label>
                <input class="form-control" asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Location"></label>
                <input class="form-control" asp-for="Location" />
                <span asp-validation-for="Location"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="PositionType"></label>
                <input class="form-control" asp-for="PositionType" />
                <span asp-validation-for="PositionType"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="PositionLevel"></label>
                <input class="form-control" asp-for="PositionLevel" />
                <span asp-validation-for="PositionLevel"></span>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Description"></label>
            <textarea class="form-control" asp-for="Description"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-row col-md-12" id="require-tab">
            <div class="form-group col-md-6">
                <label asp-for="Requirements"></label><a href="#" id="add">Add Requirements</a>
                <input class="form-control" asp-for="Requirements" />
                <span asp-validation-for="Requirements"></span>
            </div>
        </div>
        <div class="form-row col-md-12" id="benefit-tab">
            <div class="form-group col-md-6">
                <label asp-for="Benefits"></label><a href="#" id="add-benefit">Add Benefits</a>
                <input class="form-control" asp-for="Benefits" />
                <span asp-validation-for="Benefits"></span>
            </div>
        </div>
        <!--
    <div class="form-row col-md-12" id="benefit-tab">
        <div class="form-group col-md-6">
            <label asp-for="BenefitNames"></label><a href="#" id="add-benefit">Add Benefits</a>
            <input class="form-control" asp-for="BenefitNames" />
            <span asp-validation-for="BenefitNames"></span>
        </div>
    </div>
    <div class="form-row col-md-12" id="tag-tab">
        <div class="form-group col-md-6">
            <label asp-for="TagNames"></label><a href="#" id="add-tag">Add Tags</a>
            <input class="form-control" asp-for="TagNames" />
            <span asp-validation-for="TagNames"></span>
        </div>
    </div>
        -->

        <input type="submit" value="Add Job" class="form-group col-md-12" />
    </form>

</div>