@model LiftOff.Models.JobViewModels.AddJobViewModel

<div asp-validation-summary="All">

    <form asp-controller="Job" asp-action="Add" method="post" id="item-list">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-group">
            <label asp-for="Location"></label>
            <input class="form-control" asp-for="Location" />
            <span asp-validation-for="Location"></span>
        </div>

        <div class="form-group">
            <label asp-for="PositionType"></label>
            <input class="form-control" asp-for="PositionType" />
            <span asp-validation-for="PositionType"></span>
        </div>

        <div class="form-group">
            <label asp-for="PositionLevel"></label>
            <input class="form-control" asp-for="PositionLevel" />
            <span asp-validation-for="PositionLevel"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <input class="form-control" asp-for="Description" />
            <span asp-validation-for="Description"></span>
        </div>

        <div class="form-group">
            <label asp-for="RequirementNames"></label>
            <input class="form-control" asp-for="RequirementNames" />
            <span asp-validation-for="RequirementNames"></span>
        </div>

        <div class="form-group">
            <label asp-for="BenefitNames"></label>
            <input class="form-control" asp-for="BenefitNames" />
            <span asp-validation-for="BenefitNames"></span>
        </div>

        <div class="form-group">
            <label asp-for="TagNames"></label>
            <input class="form-control" asp-for="TagNames" />
            <span asp-validation-for="TagNames"></span>
        </div>

        <a href="#" id="add">Add Requirements</a>

        <a href="#" id="add-benefit">Add Benefits</a>

        <input type="submit" value="Add Job" />
    </form>

</div>