@model LiftOff.Models.JobViewModels.AddJobViewModel

<div asp-validation-summary ="All">

    <form asp-controller="Job" asp-action="Add" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-group">
            <label asp-for="Location"></label>
            <input class="form-control" asp-for="Location" />
            <span asp-validation-for="Location"></span>
        </div>

        <div class="form-group">
            <label asp-for="PositionType"></label>
            <input class="form-control" asp-for="PositionType" />
            <span asp-validation-for="PositionType"></span>
        </div>

        <div class="form-group">
            <label asp-for="PositionLevel"></label>
            <input class="form-control" asp-for="PositionLevel" />
            <span asp-validation-for="PositionLevel"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <input class="form-control" asp-for="Description" />
            <span asp-validation-for="Description"></span>
        </div>

        <input type="submit" value="Add Job" />
    </form>

</div>