@using Microsoft.AspNetCore.Identity
@using LiftOff.Models
@model LiftOff.Models.JobViewModels.SearchViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h1 class="heading-search">Search Openings</h1>

<div asp-validation-summary="All">
    <div class="search-view">
        <form asp-controller="Job" asp-action="Search" method="post" class="search-form">
            <input class="search-box" asp-for="SearchString" />
            <span asp-validation-for="SearchString"></span>
            <input class="search-button" type="submit" values="Search" />
        </form>
    </div>
</div>
<h2>Or View List</h2>
<p><a asp-controller="Job" asp-action="Index">View List of Jobs</a></p>

@if (User.IsInRole("Employer"))
{
    <p><a asp-controller="Job" asp-action="YourJob">View Your List of Openings</a></p>
}

@if (User.IsInRole("User"))
{
    <p>View List of Jobs You Have Applied to</p>
}