@using Microsoft.AspNetCore.Identity
@using LiftOff.Models
@model LiftOff.Models.JobViewModels.SearchViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h1>Search</h1>

<div asp-validation-summary="All">
    <form asp-controller="Job" asp-action="Search" method="post" class="form-row">
        <div class="form-row">
            <label asp-for="SearchString">Search openings</label>
            <input class="form-control" asp-for="SearchString"/>
            <span asp-validation-for="SearchString"></span>
            <input type="submit" values="Search" />
        </div>
    </form>
</div>
<h2>Or View List</h2>
<p><a asp-controller="Job" asp-action="Index">View List of Jobs</a></p>

@if (SignInManager.IsSignedIn(User))
{
    <p><a asp-controller="Job" asp-action="YourJob">View Your List of Openings</a></p>
}