body {
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.job-view,
.search-view {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.search-form {
    width: 100%;
}

.search-box {
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #424242;
    margin: 20px 0;
    transition: 0.3s ease-in-out;
}

.form-block textarea:focus,
.form-block input:focus,
.form-subblock input:focus,
.search-box:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}

.search-button {
    background: white;
    border: 1px solid #424242;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    padding: 5px;
}

.search-button:hover {
    background: #424242;
    color: white;
}

.job-view h1,
.heading-search {
    margin: 30px 0;
    width: 100%;
}

.form-block {
    width: 70%;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.form-subblock:nth-of-type(odd) {
    margin-right: 10px;
}

.form-subblock {
    margin: 5px 0;
    width: calc(50% - 5px);
}

.form-block textarea:focus,
.form-block input,
.form-subblock input {
    width: 100%;
    transition: 0.3s ease-in-out;
}

.form-block textarea {
    width: 150%;
}

.form-block h1,
.form-block input {
    width: 100%;
}

.add-button {
    width: 100%;
}

.add-button input {
    margin: 20px 45%;
    color: #424242;
    background-color: white;

    border: 1px solid #424242;
    border-radius: 25px;
    padding: 10px 45px;
    transition: 0.3s ease-in-out;
}

.add-button input:hover {
    color: white;
    background-color: #424242;
    border: 1px solid white;
}

.view-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.view-wrapper h1,
.view-wrapper h2 {
    width: 100%;
    position: relative;
    z-index: 1;
}

h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 25%;
    border-bottom: 1px solid #d53838;
    margin: 0 auto;
}

.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.table-flex {
    width: 35%;
    padding: 15px 0;

    position: relative;
    z-index: 1;
}

.table-flex:nth-of-type(odd):before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 10%;
    border-bottom: 1px solid #d53838;
    margin: 0 auto;
}

.view-wrapper h2 {
    margin: 20px 0;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.table li {
    width: 100%;
    padding: 10px 0;
}

.card-tag {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 20px 0;

    position: relative;
    z-index: 1;
}

.card-tag h2 {
    width: 100%;
}

.card-tag::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 10%;
    border-bottom: 1px solid #d53838;
    margin: 0 auto;
}

.search-view h1 {
    width: 100%;
}

.card-tag p {
    width: 50%;
}